1. Create a sample code of partitioning. Use 5 as k argumemnt.

2. Create a sample structure array using following specification:
- name: OrderDate, format: unicode maximum 8 characters
- name: OrderAmount, format: float 8-bytes
- name: OrderNumber, format: integer 4-bytes
- name: OrderName, format: unicode maximum 20 characters

3. Using #2, create a NumPy array of 10 elements with proper initialization of the structured array. Note order numbers must be between 101 - 110.

4. Using the array in #3, filter the array to return orders with order number less than 105.

5. Using the code snippet below, fill-in the cell to generate the array as shown at the bottom. 
- You will need to use fancy indexing and masking. 
- Select rows with indices 0, 3, 4, 6, 7
- Use column masking to return every other columns. The first column will be returned, 2nd column will not and so on.

In [39]:
import numpy as np

rng = np.random.RandomState(0)
x = rng.randint(10, size=(10, 10))

In [40]:
#1
np.partition(x, 5)

array([[0, 2, 3, 3, 3, 4, 5, 5, 9, 7],
       [1, 1, 7, 6, 6, 7, 7, 8, 8, 8],
       [3, 0, 3, 0, 4, 5, 5, 8, 9, 9],
       [1, 1, 0, 2, 3, 3, 3, 7, 8, 3],
       [2, 0, 0, 2, 3, 4, 7, 7, 9, 9],
       [0, 1, 4, 4, 4, 5, 5, 6, 8, 9],
       [1, 3, 1, 2, 6, 7, 7, 8, 9, 9],
       [3, 0, 3, 4, 4, 4, 4, 5, 6, 9],
       [0, 1, 3, 4, 4, 4, 7, 5, 8, 5],
       [0, 0, 1, 2, 2, 3, 4, 5, 9, 5]])

In [41]:
#2
data = np.zeros(10, dtype={'names':('OrderDate', 'OrderAmount', 'OrderNumber', 'OrderName'),
                          'formats':('U8', 'f8', 'i4', 'U20')})
print(data.dtype)
data

[('OrderDate', '<U8'), ('OrderAmount', '<f8'), ('OrderNumber', '<i4'), ('OrderName', '<U20')]

array([('', 0., 0, ''), ('', 0., 0, ''), ('', 0., 0, ''), ('', 0., 0, ''),
       ('', 0., 0, ''), ('', 0., 0, ''), ('', 0., 0, ''), ('', 0., 0, ''),
       ('', 0., 0, ''), ('', 0., 0, '')],
      dtype=[('OrderDate', '<U8'), ('OrderAmount', '<f8'), ('OrderNumber', '<i4'), ('OrderName', '<U20')])

In [42]:
#3
OrderDate = ['2/22/2021', '4/2/2021', '7/27/2021', '9/24/2021', '10/7/2021',
             '10/30/2021', '2/4/2022', '6/21/2022', '9/7/2022', '12/25/2022']
OrderAmount = [19.23, 32.54, 12.41, 11.30, 10.97,
               31.89, 31.78, 18.51, 35.59, 14.48]
OrderNumber = [109, 105, 107, 110, 108,
               101, 104, 106, 103, 102]
OrderName = ['Glenn', 'Otis', 'Chris', 'Tyler', 'Steve',
             'Eva', 'Jenna', 'Alice', 'Sarah', 'Diana']
data['OrderDate'] = OrderDate
data['OrderAmount'] = OrderAmount
data['OrderNumber'] = OrderNumber
data['OrderName'] = OrderName

In [43]:
data[data['OrderNumber'] < 105]

array([('10/30/20', 31.89, 101, 'Eva'), ('2/4/2022', 31.78, 104, 'Jenna'),
       ('9/7/2022', 35.59, 103, 'Sarah'),
       ('12/25/20', 14.48, 102, 'Diana')],
      dtype=[('OrderDate', '<U8'), ('OrderAmount', '<f8'), ('OrderNumber', '<i4'), ('OrderName', '<U20')])

In [44]:
#5
rowInd = [0, 3, 4, 6, 7]
colInd = []
for i in range(0, 9):
    if i % 2 == 0:
        colInd.append(i)
x[np.array(rowInd)[:, np.newaxis], np.array(colInd)]

array([[5, 3, 7, 3, 2],
       [2, 8, 3, 3, 0],
       [9, 0, 7, 2, 2],
       [8, 1, 9, 3, 7],
       [0, 5, 4, 6, 4]])