# Data 690 Lecture 13 HW
For the following exercises, we will be using Baltimore City [Open Data](https://data.baltimorecity.gov/).

### 1. Create a `DataFrame` named 'neighbor_crime'.
Do this by reading the `baltimore_part1_crime.csv` file into the Pandas dataframe.

Refer to the [Pandas API](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

**NOTE**: The results in the cells below will be different. Since you are working with different data set, don't worry if what you get are different.

In [2]:
import pandas as pd

In [3]:
neighbor_crime = pd.read_csv('baltimore_part1_crime.csv')

In [4]:
neighbor_crime.head()

,CrimeCode,Location,Description,Weapon,District,Neighborhood,CrimeDate
0,7A,6400 ROSEMONT AVE,AUTO THEFT,NaN,NORTHEAST,ROSEMONT EAST,2021/04/24
1,4E,4700 REISTERSTOWN RD,COMMON ASSAULT,NaN,NORTHWEST,LUCILLE PARK,2021/04/24
2,4E,3900 PENHURST AVE,COMMON ASSAULT,NaN,NORTHWEST,DOLFIELD,2021/04/24
3,4E,1900 WALBROOK AVE,COMMON ASSAULT,NaN,WESTERN,MONDAWMIN,2021/04/24
4,4E,2200 KOKO LN,COMMON ASSAULT,NaN,WESTERN,PANWAY/BRADDISH AVENUE,2021/04/24

In [5]:
neighbor_crime.shape

(334192, 7)

### 2. Do the manual pivoting of the data by
  1. Grouping the data by 'Description and District'
  2. Selecting 'Neighborhood'
  3. Aggregating the data using count
  4. `unstack()` the table

In [24]:
#neighbor_crime.groupby(['Description']).head() # Your code goes here
gb = neighbor_crime.groupby(['Description', 'District'])
gb['Neighborhood'].count().unstack()

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,WESTERN
Description,,,,,,,,,
AGG. ASSAULT,3875,4324,5215,3176,3739,4188,4414,4769,4341
ARSON,80,144,255,111,198,101,186,201,124
AUTO THEFT,1982,2138,5418,2912,3833,3134,3228,3657,2933
BURGLARY,3557,3574,7901,6069,5205,6041,5683,5250,3402
COMMON ASSAULT,6958,6202,8089,4926,5180,7215,6034,6825,5400
HOMICIDE,135,327,283,166,305,151,231,333,367
LARCENY,10427,5532,9920,9325,7030,11570,8523,6917,4834
LARCENY FROM AUTO,6076,3233,6199,5610,3654,8534,4463,3140,1983
RAPE,275,237,306,243,239,253,278,254,210
ROBBERY - CARJACKING,278,181,421,355,462,334,352,379,335
ROBBERY - COMMERCIAL,803,430,896,782,633,821,618,528,306
ROBBERY - RESIDENCE,249,313,674,350,388,373,471,418,318
ROBBERY - STREET,3324,1869,3402,2506,2008,4021,2417,1758,1584
SHOOTING,350,718,507,326,533,311,522,670,775

### 3. Using Pandas `pivot_table()` method, produce the same outcome as above (using manual groupby)

In [46]:
pt = pd.pivot_table(neighbor_crime, values = 'Neighborhood',
                    columns = 'District',
                    index = 'Description',
                    aggfunc = 'count')
pt

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,WESTERN
Description,,,,,,,,,
AGG. ASSAULT,3875,4324,5215,3176,3739,4188,4414,4769,4341
ARSON,80,144,255,111,198,101,186,201,124
AUTO THEFT,1982,2138,5418,2912,3833,3134,3228,3657,2933
BURGLARY,3557,3574,7901,6069,5205,6041,5683,5250,3402
COMMON ASSAULT,6958,6202,8089,4926,5180,7215,6034,6825,5400
HOMICIDE,135,327,283,166,305,151,231,333,367
LARCENY,10427,5532,9920,9325,7030,11570,8523,6917,4834
LARCENY FROM AUTO,6076,3233,6199,5610,3654,8534,4463,3140,1983
RAPE,275,237,306,243,239,253,278,254,210
ROBBERY - CARJACKING,278,181,421,355,462,334,352,379,335
ROBBERY - COMMERCIAL,803,430,896,782,633,821,618,528,306
ROBBERY - RESIDENCE,249,313,674,350,388,373,471,418,318
ROBBERY - STREET,3324,1869,3402,2506,2008,4021,2417,1758,1584
SHOOTING,350,718,507,326,533,311,522,670,775

In [20]:
neighbor_crime.head()

,CrimeDate,CrimeCode,Location,Description,Weapon,District,Neighborhood
0,04/18/2020,7A,1300 WINDEMERE AVE,AUTO THEFT,NaN,NORTHEAST,EDNOR GARDENS-LAKESI
1,04/18/2020,4B,200 HERRING CT,AGG. ASSAULT,KNIFE,SOUTHEAST,PERKINS HOMES
2,04/18/2020,6D,5900 REISTERSTOWN RD,LARCENY FROM AUTO,NaN,NORTHWEST,REISTERSTOWN STATION
3,04/18/2020,7A,400 N MONTFORD AVE,AUTO THEFT,NaN,SOUTHEAST,MCELDERRY PARK
4,04/18/2020,5D,AV & 7TH ST,BURGLARY,NaN,SOUTHERN,NaN

### 4. Using 'CrimeDate' column, create a DatetimeIndex
Hint: 
- You will use one of the methods described in 'Pandas Time Series Data Structures' section. 
- You will have to specify the values of the `Series` as the input. See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.values.html

In [48]:
dates = pd.DatetimeIndex(neighbor_crime['CrimeDate'])# Your code goes here.

In [49]:
dates

DatetimeIndex(['2021-04-24', '2021-04-24', '2021-04-24', '2021-04-24',
               '2021-04-24', '2021-04-24', '2021-04-24', '2021-04-24',
               '2021-04-24', '2021-04-24',
               ...
               '1979-01-01', '1978-01-01', '1978-01-01', '1978-01-01',
               '1977-05-01', '1975-06-01', '1973-07-01', '1970-06-15',
               '1969-07-20', '1963-10-30'],
              dtype='datetime64[ns]', name='CrimeDate', length=334192, freq=None)